# Neon database connection string
DATABASE_URL=

# Better Auth configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Mapbox token for open layers background styles
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=

# Google Maps API key for streetview
NEXT_GOOGLE_MAPS_API_KEY=
