.mapContainer {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.mainStyle {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: red;
}
